// colours for the site
$primary-color: #9496a0;
$background-color: #121212;
$link-color: #737582;
$link-hover-color: #9496a0;

/* 
We should use this order for properties (so i don't need to harm myself later):

* font-family
* font-size
* text-align
* postion (and related properties added below)
* color (and related properties added below)
* text-decoration
*/

@font-face {
	font-family: "Departure Mono";
	src: url("assets/fonts/DepatureMono-Regular/DepartureMono-Regular.woff2")
		format("woff");
}

body {
	background-color: $background-color;
}

h1 {
	font-family: "Departure Mono", Verdana, sans-serif;
	font-size: 120px;
	text-align: center;
	color: $primary-color;
}

a {
	font-family: "Departure Mono", Verdana, sans-serif;
	font-size: 20px;
	position: absolute;
	right: 10px;
	top: 0px;

	&:link,
	&:visited {
		color: $link-color;
		text-decoration: underline;
	}

	&:hover,
	&:active {
		color: $link-hover-color;
		text-decoration: underline;
	}
}

p {
	font-family: "Departure Mono", Verdana, sans-serif;
	font-size: 60px;
	text-align: center;
	color: $primary-color;
}

h2 {
	font-family: "Departure Mono", Verdana, sans-serif;
	font-size: 80px;
	text-align: center;
	color: $primary-color;
}

.imgcenter {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 60%
}