// colours for the site

// dark, partly inspired from https://www.figma.com/colors/silver/
$primary-dark-color: #a9acb6;
$background-dark-color: #202028;
$link-dark-color: #727280;
$link-hover-dark-color: #a9acb6;

// light
$primary-light-color: #464d53;
$background-light-color: #b1b5ba;
$link-light-color: #65686b;
$link-hover-light-color: #464d53;

/* 
We should use this order for properties (so i don't need to harm myself later):

* font-family
* font-size
* font-weight
* text-align
* postion (and related properties added below)
* color (and related properties added below)
* text-decoration
*/

body {
	background-color: $background-dark-color;
	word-break: break-word;
}

h1 {
	font-family: "neue-haas-grotesk-display", sans-serif;
	font-size: 120px;
	font-weight: 600;
	text-align: center;
	color: $primary-dark-color;
}

h2 {
	font-family: "neue-haas-grotesk-display", sans-serif;
	font-size: 80px;
	font-weight: 500;
	text-align: center;
	color: $primary-dark-color;
}

p {
	font-family: "neue-haas-grotesk-display", sans-serif;
	font-size: 60px;
	font-weight: 500;
	text-align: center;
	color: $primary-dark-color;
}

a {
	font-family: "neue-haas-grotesk-display", sans-serif;
	font-size: 20px;
	font-weight: 400;
	position: absolute;
	right: 10px;
	top: 0px;

	&:link,
	&:visited {
		color: $link-dark-color;
		text-decoration: underline;
	}

	&:hover,
	&:active {
		color: $link-hover-dark-color;
		text-decoration: underline;
	}
}

.imgcentre {
	display: block;
	margin: auto;
	width: 70%;
}
