// colours for the site

// dark
$primary-dark-color: #9496a0;
$background-dark-color: #1c1d20;
$link-dark-color: #737582;
$link-hover-dark-color: #9496a0;

// light
$primary-light-color: #464d53;
$background-light-color: #b1b5ba;
$link-light-color: #65686b;
$link-hover-light-color: #464d53;

/* 
We should use this order for properties (so i don't need to harm myself later):

* font-family
* font-size
* text-align
* postion (and related properties added below)
* color (and related properties added below)
* text-decoration
*/

@font-face {
	font-family: "Departure Mono";
	src: url("/assets/fonts/DepatureMono-Regular/DepartureMono-Regular.woff2")
		format("woff");
}

body {
	background-color: $background-dark-color;
	word-break: break-word;
}

h1 {
	font-family: "Departure Mono", Verdana, sans-serif;
	font-size: 120px;
	text-align: center;
	color: $primary-dark-color;
}

h2 {
	font-family: "Departure Mono", Verdana, sans-serif;
	font-size: 80px;
	text-align: center;
	color: $primary-dark-color;
}

p {
	font-family: "Departure Mono", Verdana, sans-serif;
	font-size: 60px;
	text-align: center;
	color: $primary-dark-color;
}

a {
	font-family: "Departure Mono", Verdana, sans-serif;
	font-size: 20px;
	position: absolute;
	right: 10px;
	top: 0px;

	&:link,
	&:visited {
		color: $link-dark-color;
		text-decoration: underline;
	}

	&:hover,
	&:active {
		color: $link-hover-dark-color;
		text-decoration: underline;
	}
}

.imgcentre {
	display: block;
	margin: auto;
	width: 70%;
}
